streamlit
openai
sqlalchemy
pandas
openpyxl
langchain[sql]
langchain==0.3.27
langchain-community==0.3.29
langchain-core==0.3.76
langchain-openai==0.3.33
langchain-text-splitters==0.3.11
langsmith==0.4.27

# pip install -r requirements.txt